/* Global styles */

* {
    font-family: Arial, Helvetica, sans-serif;
}

#gameBoard {
    border: 1px solid #000;
    background-color: #ACC8E5;
    filter: drop-shadow(1px 3px 4px #000000);
    margin: 2em auto;
    display: flex;
}

#header-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

a {
    margin: 0.5em;
}

footer {
    margin: 1em 0;
}