/* Global styles */

* {
    font-family: Arial, Helvetica, sans-serif;
}

#gameBoard {
    border: 1px solid #000;
    background-color: #b2dfdb;
    margin-bottom: 1em;
    width: 900px;
    filter: drop-shadow(1px 3px 4px #000000);
    display: flex;
    margin: 2em auto;
}

#header-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

a {
    margin: 0.5em;
}

footer {
    margin: 1em 0;
}

.square {
    width: 30px;
    height: 30px;
    background-color: #D3D3D3;
    border: 1px solid #FFF;
    display: flex;
}